.lmj-plant-item-cover {
    /*display: flex;*/
    height: 220px;
    width: 220px;
    border-radius: 20px;
    /*position: relative;*/
    /*top : 0px;*/
}

.lmj-plant-item {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}
.horizontale{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}
.vertical{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: 10;
}